{% load static %}

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url "home" %}" class="logo">
                        <img src={% static "assets/images/logo.png" %} alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Search End ***** -->
                    {% if page == "explore" or page == "friends" %}
                    <div class="search-input">
                      <form id="search" action="#">
                        <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                        <i class="fa fa-search"></i>
                      </form>
                    </div>
                    {% endif %}
                    <!-- ***** Search End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url "home" %}" class="{% if page == 'home' %}active{% endif %}">Home</a></li>
                        <li><a href="{% url "about" %}" class="{% if page == 'about' %}active{% endif %}">About</a></li>
                        <li><a href="{% url "view-posts" %}" class="{% if page == 'explore' %}active{% endif %}">Explore</a></li>
                        <li><a href="{% url "upload-post" %}" class="{% if page == 'upload' %}active{% endif %}">Upload</a></li>
                        <li><a href="{% url "all-users" %}" class="{% if page == 'users' %}active{% endif %}">Connect</a></li>
                        {% if request.session.auth0_user %}
                        <li><a href="{% url "user-profile" %}" class="{% if page == 'profile' %}active{% endif %}">Profile <img src={% static "assets/images/default_user.png" %} alt=""></a></li>
                        {% else %}
                        <li><a href="{% url "login" %}">Log IN / Sign UP </a></li>
                        {% endif %}
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->