{% extends "main.html" %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
        <div class="page-content">

            <!-- ***** Featured Games Start ***** -->
            <div class="row">
            <div class="col-lg-12">
                <div class="featured-games header-text">
                <div class="heading-section">
                    <h4>Generate your AI Post here</h4>
                </div>
                <form id="post-upload" action={% url "upload-post" %} method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="What is your mood like today? e.g. I feel like dancing." id='prompt' name="prompt" />
                    <div class="col-lg-12">
                      <div class="main-button prompt-button">
                        <button type="submit">Generate Post</button>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
            </div>
            <!-- ***** Featured Games End ***** -->

        </div>
        </div>
    </div>
    {% if prompt %}
    <div class="row">
      <div class="col-lg-12">
      <div class="page-content">

          <div class="row">
          <div class="col-lg-6">
              <div class="featured-games header-text">
              <div class="heading-section">
                  <h4><em>Confirm</em> your upload</h4>
              </div>
              <div class="item">
                  <div class="thumb">
                      <img class="confirm-post-img" src="{{image_url}}" alt="">
                  </div>
                  <h4>Your Prompt<br><span>{{prompt}}</span></h4>
                  
                  </div>
              </div>
          </div>

          <div class="col-lg-6">
              <div class="featured-games header-text">
              <div class="item">
                  
                  <div class="confirm-upload">
                      <form id="confirm-upload" action={% url "confirm-upload" %} method="POST">
                        {% csrf_token %}
                        <label class="confirm-upload-label">Title</label>
                        <input type="text" placeholder="Enter a title for your post" id='title' name="title" required />
                        <label class="confirm-upload-label">Caption</label>
                        <input type="text" placeholder="What does this image represent for you" id='caption' name="caption" required />
                        <div class="col-lg-12">
                          <div class="main-button prompt-button">
                            <button type="submit">Post</button>
                          </div>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
          </div>
          
          </div>

      </div>
      </div>
  </div>
    {% endif %}
</div>

{% endblock content %}